<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        {{#if isLoggedIn}}
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/logout">Logout</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  {{#if loggedIn}}
  <script src="../../public/js/logout.js"></script>
  {{/if}}
  <footer>
    <p>&copy; {{currentYear}} My Blog</p>
  </footer>
</body>
</html>